<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybkj.gun.mapper.AppDynamicDataMapper">
  <resultMap id="BaseResultMap" type="com.ybkj.gun.model.AppDynamicData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="app_battery_power" jdbcType="CHAR" property="appBatteryPower" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="exception_type" jdbcType="INTEGER" property="exceptionType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_id, app_battery_power, create_time, version, exception_type
  </sql>
  <select id="selectByExample" parameterType="com.ybkj.gun.model.AppDynamicDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_dynamic_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_dynamic_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_dynamic_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ybkj.gun.model.AppDynamicDataExample">
    delete from app_dynamic_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ybkj.gun.model.AppDynamicData">
    insert into app_dynamic_data (id, app_id, app_battery_power, 
      create_time, version, exception_type
      )
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{appBatteryPower,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, #{exceptionType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ybkj.gun.model.AppDynamicData">
    insert into app_dynamic_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="appBatteryPower != null">
        app_battery_power,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="exceptionType != null">
        exception_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="appBatteryPower != null">
        #{appBatteryPower,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="exceptionType != null">
        #{exceptionType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ybkj.gun.model.AppDynamicDataExample" resultType="java.lang.Long">
    select count(*) from app_dynamic_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app_dynamic_data
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=INTEGER},
      </if>
      <if test="record.appBatteryPower != null">
        app_battery_power = #{record.appBatteryPower,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.exceptionType != null">
        exception_type = #{record.exceptionType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app_dynamic_data
    set id = #{record.id,jdbcType=INTEGER},
      app_id = #{record.appId,jdbcType=INTEGER},
      app_battery_power = #{record.appBatteryPower,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=INTEGER},
      exception_type = #{record.exceptionType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ybkj.gun.model.AppDynamicData">
    update app_dynamic_data
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="appBatteryPower != null">
        app_battery_power = #{appBatteryPower,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="exceptionType != null">
        exception_type = #{exceptionType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ybkj.gun.model.AppDynamicData">
    update app_dynamic_data
    set app_id = #{appId,jdbcType=INTEGER},
      app_battery_power = #{appBatteryPower,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      exception_type = #{exceptionType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--=Start selectAppDynamicByAppId 根据appId，查询app动态数据 -->
  <select id="selectAppDynamicByAppId" resultType="com.ybkj.gun.model.AppDynamicData">
    select
    <include refid="Base_Column_List"/>
    from app_dynamic_data where app_id = #{appId,jdbcType=CHAR}
  </select>
  <!--=End selectAppDynamicByAppId 根据appId，查询app动态数据 -->

  <!--=Start selectAppDynamicDataAll 根据app的名称，查询所有的app动态数据 -->
  <select id="selectAppDynamicDataAll" resultType="com.ybkj.gun.model.AppDynamicData">
    SELECT
    a.app_phone_type_name,ad.*
    FROM
    app_dynamic_data AS ad
    LEFT JOIN app AS a
    ON a.id = ad.app_id
    <where>
      <if test="appName != null and appName !=''">
        a.app_phone_type_name like '%' #{appName} '%'
      </if>
    </where>
  </select>
  <!--=End selectAppDynamicDataAll 根据app的名称，查询所有的app动态数据 -->
</mapper>