<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybkj.gun.mapper.AppGunUserMapper">
  <resultMap id="BaseResultMap" type="com.ybkj.gun.model.AppGunUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="gun_user_id" jdbcType="INTEGER" property="gunUserId" />
    <result column="binding_state" jdbcType="INTEGER" property="bindingState" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />

    <association property="apps" javaType="com.ybkj.gun.model.App">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="app_system" jdbcType="CHAR" property="appSystem" />
      <result column="app_system_version" jdbcType="CHAR" property="appSystemVersion" />
      <result column="app_phone_type_name" jdbcType="CHAR" property="appPhoneTypeName" />
      <result column="app_name" jdbcType="CHAR" property="appName" />
      <result column="app_mac" jdbcType="CHAR" property="appMac" />
      <result column="app_imei" jdbcType="CHAR" property="appImei" />
      <result column="app_phone" jdbcType="CHAR" property="appPhone" />
      <result column="app_readable_code" jdbcType="CHAR" property="appReadableCode" />
      <result column="app_type" jdbcType="INTEGER" property="appType" />
      <result column="version" jdbcType="INTEGER" property="version" />
    </association>
    <association property="gunUser" javaType="com.ybkj.gun.model.GunUser">
      <id column="user_id" jdbcType="INTEGER" property="userId" />
      <result column="user_name" jdbcType="CHAR" property="userName" />
      <result column="user_password" jdbcType="CHAR" property="userPassword" />
      <result column="user_phone" jdbcType="CHAR" property="userPhone" />
      <result column="user_email" jdbcType="CHAR" property="userEmail" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="version" jdbcType="INTEGER" property="version" />
    </association>

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_id, gun_user_id, binding_state, create_time
  </sql>
  <select id="selectByExample" parameterType="com.ybkj.gun.model.AppGunUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_gun_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_gun_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_gun_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ybkj.gun.model.AppGunUserExample">
    delete from app_gun_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ybkj.gun.model.AppGunUser">
    insert into app_gun_user (id, app_id, gun_user_id, 
      binding_state, create_time)
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{gunUserId,jdbcType=INTEGER}, 
      #{bindingState,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ybkj.gun.model.AppGunUser">
    insert into app_gun_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="gunUserId != null">
        gun_user_id,
      </if>
      <if test="bindingState != null">
        binding_state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="gunUserId != null">
        #{gunUserId,jdbcType=INTEGER},
      </if>
      <if test="bindingState != null">
        #{bindingState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ybkj.gun.model.AppGunUserExample" resultType="java.lang.Long">
    select count(*) from app_gun_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app_gun_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=INTEGER},
      </if>
      <if test="record.gunUserId != null">
        gun_user_id = #{record.gunUserId,jdbcType=INTEGER},
      </if>
      <if test="record.bindingState != null">
        binding_state = #{record.bindingState,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app_gun_user
    set id = #{record.id,jdbcType=INTEGER},
      app_id = #{record.appId,jdbcType=INTEGER},
      gun_user_id = #{record.gunUserId,jdbcType=INTEGER},
      binding_state = #{record.bindingState,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ybkj.gun.model.AppGunUser">
    update app_gun_user
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="gunUserId != null">
        gun_user_id = #{gunUserId,jdbcType=INTEGER},
      </if>
      <if test="bindingState != null">
        binding_state = #{bindingState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ybkj.gun.model.AppGunUser">
    update app_gun_user
    set app_id = #{appId,jdbcType=INTEGER},
      gun_user_id = #{gunUserId,jdbcType=INTEGER},
      binding_state = #{bindingState,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--=Start selectAppGunUserList 获取设备注册，绑定的用户信息 -->
  <select id="selectAppGunUserList" resultMap="BaseResultMap">
    SELECT gu.user_name ,agu.app_id FROM gun_user AS gu
    INNER JOIN app_gun_user AS agu ON  gu.user_id=agu.gun_user_id
    INNER JOIN app a ON agu.app_id=a.id
  </select>
  <!--=End selectAppGunUserList 获取设备注册，绑定的用户信息 -->



  <!--=Start selectAppGunUserByAppId 通过 appId 获取 gunUserID-->
  <select id="selectAppGunUserByAppId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM app_gun_user where app_id = #{appId,jdbcType=INTEGER}
                      and binding_state=1
  </select>
  <!--=End selectAppGunUserByAppId 获取设备注册，绑定的用户信息 -->

  <!--=Start selectAppGunUserByAPPUserState 判断用户和设备是否已经绑定-->
  <select id="selectAppGunUserByAPPUserState" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM app_gun_user where app_id = #{appId,jdbcType=INTEGER} and gun_user_id = #{gunUserId,jdbcType=INTEGER}
    and binding_state=#{state,jdbcType=INTEGER}
  </select>
  <!--=End selectAppGunUserByAPPUserState 判断用户和设备是否已经绑定 -->

  <!--=Start selectAppGunUserByGunIdAndState 通过gun_id，在app_gun_user状态为 1 的用户id-->
  <select id="selectAppGunUserByGunIdAndState" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM app_gun_user where gun_user_id = #{gunId,jdbcType=INTEGER}
    and binding_state= #{state,jdbcType=INTEGER}
  </select>
  <!--=End selectAppGunUserByGunIdAndState 通过gun_id，在app_gun_user状态为 1 的用户id -->

</mapper>